
.attribution-section-header {
    font-size: 2em;
    color: white;
    text-align: center;
}

.attribution-header {
    font-size: 1.2em;
}

.waveform-and-description {
    display: flex;
    flex-direction: column;
    margin: 3vw;
}

.heatmap-and-description {
    display: flex;
    flex-direction: column;
    margin: 3vw;
}

.attribution-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
}

.attribution-text {
    color: white;
}

.waveform-img {
    align-self: center;
    width: 70%;
}

.heatmap-img {
    align-self: center;
    width: 70%;
}

@media screen and (min-width: 1200px) {

    .heatmap-and-description {
        display: flex;
        flex-direction: row;
    }

    .waveform-and-description {
        display: flex;
        flex-direction: row-reverse;
    }

    .heatmap-img {
        min-height: 200px;
        height: 10vw;
        width: auto;
        margin: 0 6vw 0 6vw;
    }

    .waveform-img {
        min-height: 200px;
        height: 10vw;
        width: auto;
        margin: 0 6vw 0 6vw;
    }


}