.App {
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}


.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  margin-top: 20px;
}
