.App {
  text-align: center;
  background-color: #0E121E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.login-register-header {
  color: white;
}