.Header {
  height: 6em;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.homepage-arrow-divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  background-color: white;;
  border: 2px solid black;
  margin: 2vw;
  color: black;
  text-decoration: none;
  border-radius: 15px;
}

.info-hidden {
  opacity: 0;
}

.arrow {
  bottom: 0;
  left: 0;
  min-width: 100px;
  min-height: 100px;
  height: 10vw;
  width: 10vw;
  margin: 3vw;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.no-arrow {
  opacity: 0;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header__tagline--wide {
  opacity: 0.35;
  margin-left: 10px;
}

.Header__tagline--narrow {
  opacity: 0.35;
  display: block;
  text-align: center;
  display: none;
  margin-top: 10px;
}

.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.login-button {
  color: white;
  text-decoration: none;
}

.logout-button:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
  border: solid black 2px;
}

.Header__not-logged-in a:last-child {
  height: 1.7em;
  font-size: 1.2em;
  text-decoration: none;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border-radius: 15px;
  margin: 0 0 0 10px;
}

.Header__logged-in a {
  display: flex;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 2px solid black(255, 255, 255, 0.25);
  padding: 5px 15px;
  border-radius: 15px;
  text-align: center;
}

.HomePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("https://raw.githubusercontent.com/Thersis94/AudioMasteringClient/master/Pictures/bruno-cervera-dtqlaz4HyHw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 3vw;
  text-align: left;
}

.PageName {
  text-decoration: none;
  color: white;
} 

.login-register-buttons {
  margin: 0;
  padding: 3vw;
}

.user-name {
  color: white;
}


@media screen and (min-width: 450px) {
  .PageName {
    font-size: 2em;
  }

  .Header {
    align-items: baseline;
  }

  .Header h1 {
    font-size: 22pt;
  }
}

@media screen and (max-width: 490px) {
  .PageName {
    font-size: 1em;
  }

  .Header__tagline--wide {
    display: none;
  }

  .Header__tagline--narrow {
    display: inherit;
  }
}
